build/ImgToAsci.dir/Debug/ImgToAsci.tlog/link.write.1.tlog
build/ImgToAsci.dir/Debug/ImgToAsci.tlog/link.write.1.tlog
.vscode/settings.json
build/Debug/ImgToAsci.exe
build/ImgToAsci.dir/Debug/main.obj
build/ImgToAsci.dir/Debug/ImgToAsci.ilk
